<div class="wrapper">
  <div class="super-container">
    <div class="header"><img src="/assets/images/kill-logo.png"></div>
    <div class="intro"><h2>Seleccion de objetivos<h2></div>
      <!-- box left -->
      <div class="box">
        <div class="titulo-container"><h3>Metadatos</h3></div>
        <div class="monk"></div>
        <ul class="metadatos" ng-repeat="palabras in listaPalabras" ng-keypress="teclado($event)">
          <li> 
            <input id="{{palabras.id}}" class="palabras btn btn-default" type="checkbox" value="{{palabras.name}}" ng-checked="selection.indexOf(palabras.name) > -1" ng-click="buscarPatron(palabras.name)"/>
            <label for="{{palabras.name}}"></label>
           {{palabras.name}}
        </li>
        </ul>
       <div class="titulo-container"><h3>Buscando objetivos</h3></div>
       <div class="monk"></div>
       <div class="divide-10"></div>
       <!-- empieza buscando objetivos -->
       <div class="buscando-objetivos">
        <div class="row" >
          <div class="col-md-2" ng-repeat="usuario in listaUsuarios">
             <img id="{{usuario.id}}" src="{{usuario.img}}" class="thumbnail img-objetivos img-responsive magictime puffIn">
          </div>
        </div>
        <div class="texto-pie pull-right">BUSCANDO %</div>
       </div>
       <!-- fin de buscando objetivos -->
       <div class="divide-50"></div>
       <div class="analizando-datos">
        <div class="titulo-container"><h3>Analizando datos</h3></div>
        <div class="monk"></div>
          <!-- Objeto twitter -->
            <div class="media" ng-repeat="res in resultadoAlgoritmo">
              <div class="media-left magictime puffIn">
                  <img class="media-object" src="{{res.img}}">
              </div>
              <div class="media-body analizando-texto" ng-bind-html="res.text"></div>
            </div>
        <!-- fin de objeto twitter -->
      <div class="texto-pie pull-right">coincidencias: {{total}}</div>
       </div>
      </div>
      <!-- fin box left -->
      <div class="divide-pantalla"></div>
      <!-- box rigth -->
      <div class="box">
        <div class="titulo-container"><h3>Objetivo confirmados</h3></div>
        <div class="monk"></div>
      <div class="objetivo-wrapper">
          <!-- Objetivo -->
            <div class="media" ng-repeat="blanco in objetivos">
              <div class="media-left magictime puffIn">
                  <div class="objetivo-img">
                    <div class="objetivo-img-wrapper">
                      <img class="media-object" src="{{blanco.img}}">
                    </div>
                  </div>
              </div>
              <div class="media-body objetivo-texto">
               <p>@{{blanco.name}}</p>
               <p>confirmacion: 100%</p>
               <p><span class=" blink eliminar">eliminar</span></p>
              </div>
            </div>
            <!-- fin de objetivo-->
        </div>
        <div class="titulo-container"><h3>DRONE VISION</h3></div>
        <div class="drone-vision">
          <video width="420" >
            <source src="/assets/video/drone.mp4" type="video/mp4">
          </video>
        </div>
      </div>
     <!-- fin box rigth -->
  </div>
</div>

