// KILL - 9 
// THE FIRST MACHINE OF FLMT


// COLORES 
@green: #77B8AB;
@red: #7D412E;
@white: #fff;
@gray: #AAAAAA;
@black: #000;

// FUENTES

@font-face {
    font-family: 'data_control';
    src: url('/assets/fonts/fontsdata-latin-webfont.eot');
    src: url('/assets/fonts/data-latin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/data-latin-webfont.woff2') format('woff2'),
         url('/assets/fonts/data-latin-webfont.woff') format('woff'),
         url('/assets/fonts/data-latin-webfont.ttf') format('truetype'),
         url('/assets/fonts/data-latin-webfont.svg#data_controllatin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@data:'data_control';

// ANIMACION TERMINAL

.intro-uno p{
  color: @red;
  font-family:@data; 
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 4s steps(60, end); 
}

.intro-uno span{
  animation: blink-uno 1s infinite;
  font-size: 25px;
}

.intro-dos p{
  color: @green;
  font-family:@data; 
  font-size: 23px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 12px;
  animation: type 8s steps(60, end); 
}

.intro-dos span{
  animation: blink-uno 1s infinite;
  font-size: 25px;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink-uno{
  to{opacity: .0;}
}

::selection{
  background: @black;
}




// MODAL ANGULAR

@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.ngdialog.ngdialog-theme-kill {
  padding-bottom: 160px;
  padding-top: 160px;
}

.ngdialog.ngdialog-theme-kill.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-kill .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  background:@black;
  border-radius: 5px;
  color: #444;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 450px;
  border: 4px solid @red;
}
 
.ngdialog.ngdialog-theme-kill .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.ngdialog.ngdialog-theme-kill .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #000;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}

.ngdialog.ngdialog-theme-kill .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-kill .ngdialog-close:active:before {
  color: #777;
}

.ngdialog.ngdialog-theme-kill .ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-kill .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-kill .ngdialog-input textarea,
.ngdialog.ngdialog-theme-kill .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-kill .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-kill .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-kill .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.ngdialog.ngdialog-theme-kill .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-kill .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-kill .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-kill .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-kill .ngdialog-input input[type="url"]:focus {
  -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.ngdialog.ngdialog-theme-kill .ngdialog-buttons {
  *zoom: 1;
}

.ngdialog.ngdialog-theme-kill .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.ngdialog.ngdialog-theme-kill .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.ngdialog.ngdialog-theme-kill .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-kill .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.ngdialog.ngdialog-theme-kill .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.ngdialog.ngdialog-theme-kill .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}
// MEDIA OBJECT
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
.media-body {
  width: 10000px;
}
.media, .media-body {
  overflow: hidden;
  zoom: 1;
}

.media img {
  margin-right: 10px;
}


// DIVIDES
.divide-pantalla {
  width: 5%;
  height: 1px;
  float: left;
}

.divide-50 {
  width: 100%;
  height: 50px;
}

.divide-40 {
  width: 100%;
  height: 40px;
}

.divide-30 {
  width: 100%;
  height: 30px;
}

.divide-20 {
  width: 100%;
  height: 20px;
}

.divide-10 {
  width: 100%;
  height: 10px;
}

// BASE
body {
  background-color: @black;
}

// LAYOUT
.super-container{
  width: 885px;
  height: 1400px;
  padding: 15px;
  background-color: @black;
}

.box {
  border: 4px solid @green;
  height: 1180px;
  width: 47%;
  float: left;
  padding: 10px;
}

.intro {
  width: 100%;
  height: 50px;
  margin: 15px 0px;
  background-color: @red;
  color: @green;
  h2 {
    font-family: @data;
    color: @green;
    font-size: 44px;
    padding: 4px;
  }
}
.header {
  width: 100%;
  height: 130px;
  background-color: @green;
  margin-top: 5px;
  padding: 15px;
} 


//GENERAL
.metadato-activo {
  color: @red;
}

.titulo-container {
  width: 100%;
  background-image: url("/assets/images/titulo-bk.png");
  height: 46px;
  margin: 20px 0px;
  color:@green;
  h3 {
    padding-top: 15px;
    font-family: @data;
    font-size: 26px;

  }
}

.monk {
  width: 100%;
  height: 6px;
  background-image: url("/assets/images/monk.png");
  background-repeat: no-repeat;
}

.metadatos {
  font-family: @data;
  color: @gray;
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 30px;
  margin-top: 10px;
  li {
  padding: 5px 0px;
  list-style-type: none;
  }
}

.img-objetivos {
  background-color: @green;
  border: 1px solid @green;
}

.objetivos-red {
    border: 1px solid @red;
    background-color: @red;
}

.texto-pie {
  font-family: @data;
  text-transform: uppercase;
  color: @white;
  font-size: 20px;
}

.analizando-texto {
  color: @green;
  font-size: 12px;
}

.objetivo-texto {
  color: @white;
  font-size: 18px;
  font-family: @data;
}

.eliminar {
  background-color: @red;
  color:@white;
  text-transform: uppercase;
  font-family: @data;
  font-size: 23px;
  padding: 7px 20px;
}
.analizando-footer {
  border-bottom: 3px solid @green;
  margin: 20px 0px;
}

.objetivo-img-wrapper {
  width: 49px;
  height: 47px;
  overflow: hidden;
  position: relative;
  top: -33px;
  left: 25px;
  img {
    max-width: 100%;
  }
}

.objetivo-img {
  background-image: url("/assets/images/ob-bk.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 24px;
}


.objetivo-wrapper {
  .media {
    padding-left: 70px;
    margin: 25px 0px;
    p {
    margin-bottom: 5px;
   }
  }
  .objetivo-img:before {
    content: ">";
    color: @green;
    font-size: 40px;
    font-family: @data;
    position: relative;
    left: -47px;
    top: 25px;
   }
}

.md-eliminar {
  padding-left: 92px;
  p {
  margin-bottom: 5px;
  }
}


.md-eliminar:before {
  content: ">";
  color: @green;
  font-size: 40px;
  font-family: @data;
  position: relative;
  left: -47px;
  top: 80px;
}


.seleccionado {
  background-color: @red;
  color: @white;
  padding: 5px 3px;
  text-transform: uppercase;
}

.texto-verde {
  color: @green;
}

// ANIMACION

.blink {
      animation: blink 1s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }




