
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Kill -9</h1>
    <img src="assets/images/FLM.png" style="height: 160px; width: 140px;" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Palabras</h1>
      <ul class="col-md-4 col-lg-4 col-sm-6" ng-repeat="palabras in listaPalabras">
        <li>
        <input id="{{palabras.id}}" class="palabras btn btn-default" type="checkbox" value="{{palabras.name}}" ng-checked="selection.indexOf(palabras.name) > -1" ng-click="buscarPatron(palabras.name)"/>
        <label for="{{palabras.name}}"></label>
        {{palabras.name}}
      </ul>
    </div>
  </div>
</div> 

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Usuarios:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="usuario in listaUsuarios">
        <li><a href="#" tooltip="{{usuario.info}}">{{usuarios.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Tweets:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomethings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Interzonas labs |
        <a href="https://twitter.com/tyhenkel">@interzonas.inf</a> |
  </div>
</footer>
